clientId=
clientSecret=
redirectUri=https://spotify.yashjani.com/callback
authorizationUrl=https://accounts.spotify.com/authorize
tokenUrl=https://accounts.spotify.com/api/token
discord_token=
owner_discord_username=
